footer{
    font-weight: bold;
    color: #000;
    text-align: center;
    background-color: #E98236;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    font-family: Arial, sans-serif;
}