<header class="header">
  <div class="header-container" [class.nav-open]="isMenuOpen">

    <!-- Logo -->
    <a routerLink="/painel" class="logo">
      <img src="/imgs/logo2.png" alt="Logo Itapa Alert">
    </a>

    <!-- Botão menu mobile -->
    <div class="menu-toggle" (click)="toggleMenu()">
      &#9776;
    </div>

    <!-- Navegação -->
    <nav class="nav" [class.open]="isMenuOpen">
      <ul>
        <ng-container *ngIf="isLoggedIn() && !isAdmin()">
          <li><a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Home</a></li>
          <li><a routerLink="/cadastroAlertas" routerLinkActive="active" (click)="toggleMenu()">Cadastro Alertas</a></li>
          <li><a routerLink="/sobre" routerLinkActive="active" (click)="toggleMenu()">Sobre Nós</a></li>
          <!-- Logout -->
          <li class="logout-icon">
            <a (click)="logout(); toggleMenu()">
              <i class="bi bi-box-arrow-right"></i>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="isAdmin()">
          <li><a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Home</a></li>
          <li><a routerLink="/cadastroAlertas" routerLinkActive="active" (click)="toggleMenu()">Cadastrar Alertas</a></li>
          <li><a routerLink="/atualizar" routerLinkActive="active" (click)="toggleMenu()">Atualizar</a></li>
          <li><a routerLink="/sobre" routerLinkActive="active" (click)="toggleMenu()">Sobre Nós</a></li>
          <!-- Logout -->
          <li class="logout-icon">
            <a (click)="logout(); toggleMenu()">
              <i class="bi bi-box-arrow-right"></i>
            </a>
          </li>
        </ng-container>

        <li *ngIf="!isLoggedIn()"><a routerLink="/login" routerLinkActive="active" (click)="toggleMenu()">Logar</a></li>
        <li *ngIf="!isLoggedIn()"><a routerLink="/cadastro" routerLinkActive="active" (click)="toggleMenu()">Cadastrar</a></li>
        <li *ngIf="!isLoggedIn()"><a routerLink="/sobre" routerLinkActive="active" (click)="toggleMenu()">Sobre Nós</a></li>
      </ul>
    </nav>

  </div>
</header>
